@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;700&display=swap');

:root {
    font-size: 62.5%;
}

 body {
    background-image: url(../images/videogame-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    height: 130vh;
} 

.start_btn,
.info_container,
.quiz_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 #D12D6F,
                0 6px 20px 0 #D12D6F;
    transition: all 0.3s ease;
    font-size: 1.6rem;
    border-radius: 1rem;
}

.info_container.activeInfo {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
    border: none;
    border-radius: 1rem;
    font-weight: 700;
    color: #E05A5C;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.info_container {
    width: 30rem;
    background: #fff;
    border-radius: 1rem;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_container .info_title {
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid #7A2D8D;
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.info_container .info_title .info {
    margin: 5px 0;
    font-size: 1.2rem;
}

.info_container .info_title .info span {
    font-weight: 700;
    color: #E05A5C;
}

.info_container .buttons {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2.3rem;
    border-top: 1px solid #7A2D8D;
}

.info_container .buttons button {
    margin: 0 5px;
    height: 2.6rem;
    width: 7rem;
    outline: none;
    border: 1px solid #E05A5C;
    border-radius: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.quit {
    color: #E05A5C;
}

.buttons button.restart {
    color: #fff;
    background: #E05A5C;
}

.buttons button.quit:hover {
    color: #fff;
    background: #D12D6F;
}

.buttons button.restart:hover {
    background: #D12D6F;
}

.quiz_box {
    width: 40rem;
    background: #E05A5C;
    border-radius: 1rem;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz_box header {
    position: relative;
    z-index: 99;
    height: 4.5rem;
    padding: 0 1.8rem;
    background: #E05A5C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px #7A2D8D;
}

.quiz_box header .title {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
}

.quiz_box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    height: 3rem;
    background: #D12D6F;
    color: #fff;
    padding: 0 8px;
    border: 1px solid #7A2D8D;
    border-radius: 1rem;
}

.quiz_box header .timer .timer_text {
    font-weight: 400;
    font-size: 1.2rem;
    user-select: none;
}

.quiz_box header .timer .timer_sec {
    font-size: 1.4rem;
    font-size: 500;
    background: #7A2D8D;
    height: 1.8rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    border-radius: 0.5rem;
    user-select: none;
}

.quiz_box header .timer_line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    
}