@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;700&display=swap');

:root {
    --white: #fff;
    --telemagenta: #D12D6F;
    --indianred: #E05A5C;
    --eminence: #7A2D8D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

html {
    font-size: 62.5%;
    width: 100%;
    overflow: auto;
}

body {
    height: 100vh;
    width: 100%;
    overflow: auto;
}

#bg-image {
    background-image: url(../images/videogame-bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Animation inspired by https://www.w3schools.com */

.head_title {
    position: relative;
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    color: var(--white);
    animation-name: fall;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#main-title {
    font-size: 3rem;
}

@keyframes fall {
    from {
        top: 0px;
    }
    to {
        top: 100px;
    }
}

.start_btn, .info_container, .quizBox, #endBox, #leader-board {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}


.hidden {
    display: none;
}

.btnContainer {
    text-align: center;
    margin-top: 15rem;
}

#quit {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--telemagenta);
    padding: 2rem 2rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background: var(--white);
    cursor: pointer;
    text-decoration: none;
}

#playGame, #rules {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--telemagenta);
    padding: 2rem 2rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background: var(--white);
    cursor: pointer;
    text-decoration: none;
}

#rules {
    background: var(--telemagenta);
    color: var(--white);
}

.info_container {
    width: 35rem;
    height: 45rem;
    background: var(--white);
    border-radius: 1rem;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_list {
    height: 30rem;
}

.info_container .info_title {
    height: 6rem;
    width: 100%;
    border-bottom: 1px solid var(--telemagenta);
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.info_container .info_list .info {
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.info_container .info_list .info span {
    font-weight: 700;
    color: var(--telemagenta);
}

.info_container .buttons {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2.5rem;
    border-top: 1px solid var(--telemagenta);
}

.info_container #quit {
    margin: 0 0.2rem;
    height: 3rem;
    outline: none;
    border: 1px solid var(--indianred);
    border-radius: 1rem;
    color: var(--indianred);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.info_container #start {
    margin: 0 0.2rem;
    height: 4rem;
    outline: none;
    border: 1px solid var(--indianred);
    border-radius: 1rem;
    color: var(--indianred);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.buttons #quit {
    color: var(--indianred);
}

.buttons #start {
    color: var(--white);
    background: var(--telemagenta);
}

.buttons #start:hover {
    background: var(--white);
    color: var(--telemagenta);
}

.buttons #quit:hover {
    color: var(--white);
    background: var(--telemagenta);
}

header {
    height: 70px;
    padding: 0 30px;
    background: var(--indianred);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .title {
    font-size: 20px;
    font-weight: 600;
}

.quizBox header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    height: 4.5rem;
    background: var(--telemagenta);
    border: 1px solid var(--eminence);
    border-radius: 1rem;
    padding: 0 8px;
    
}

.quizBox header .timer .timeText {
    font-weight: 400;
    font-size: 1rem;
    user-select: none;
}

.quizBox header .timer .timerSec {
    font-size: 1.5rem;
    font-weight: 700;
    background: var(--eminence);
    height: 2.8rem;
    width: 3.9rem;
    color: var(--white);
    text-align: center;
    line-height: 2.2rem;
    border-radius: 1rem;
    user-select: none;
}

.quizBox header .timeLine {
    position: absolute;
    top: 10rem;
    left: 0;
    height: 0.3rem;
    width: 100%;
    background: var(--eminence);
    box-shadow: 0px 3px 5px 1px var(--eminence);
}

.quizBox {
    width: 550px;
    border-radius: 1rem;
    margin: auto;
    background: var(--indianred);
    padding: 3rem 2rem;
    box-shadow: 0px 3px 5px 1px var(--eminence);
    /* pointer-events: none; */
}

.option_list {
    height: 6rem;
    background: var(--eminence);
    padding: 0 0.1rem;
    margin: 1rem 0;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--white);
    cursor: pointer;
    color: var(--white);
}

.option_list:hover {
    background: var(--telemagenta);
    transition: all 0.3s ease;
}

 .correct {
    background: rgb(195, 236, 133);
    color: #000;
    border-radius: 1rem;
    margin-left: -0.1rem;
    height: 5.8rem;
}

.icon {
    background-color: var(--white);
}

.incorrect {
    background: rgb(238, 9, 9);
    border-radius: 1rem;
    margin-left: -0.1rem;
    height: 5.8rem;
}


.choices {
    padding: 1.2rem;
    font-size: 1.2rem;
}

#question {
    color: var(--white);
    font-size: 2rem;
    margin-top: 1.5rem;
}

.questionTitle {
    color: var(--white);
    font-weight: 700;
}

.total_question {
    height: 4rem;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total_que span {
    display: flex;
    user-select: none;
}

.questionText {
    color: var(--white);
    font-size: 1.3rem;
    padding: 0.2rem;
}

#progressBar {
    width: 100%;
    height: 3rem;
    border: 1px solid var(--white);
    margin-top: 2rem;
}

#progressFull {
    height: 2.8rem;
    width: 0%;
    background: var(--telemagenta);
}

.score_box {
    color: var(--white);
    font-size: 2rem;
}

.score_text {
    background: var(--eminence);
    border: 1px solid var(--white);
    border-radius: 1rem;
    width: 12rem;
    padding: 1rem;
}

.score_main_text {
    margin: 1rem;
}

/* End Box Container */

 #endBox, #leader-board {
    background: var(--telemagenta);
    width: 35rem;
    height: 56rem;
    border-radius: 1rem;
    transform: translate(-50%, -50%) scale(0.9);
    box-shadow: 0px 3px 5px 1px var(--eminence);
 }

 .endMessage {
     color: var(--white);
     margin-top: 5rem;
     text-align: center;
     font-size: 1.5rem;
 }

 #totalScore {
     color: var(--white);
     margin-top: 3rem;
     font-size: 1.8rem;
     margin-bottom: 8rem;
     padding: 1rem;
 }

 #play-again, #exit, #exitLeader {
    background: var(--eminence);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
 }

 #finalScore {
     color: rgb(195, 236, 133);
     font-size: 1.9rem;
     font-weight: 700;
 }

 .buttonsEnd {
     margin-top: 4rem;
     display: flex;
     justify-content: space-between;
     padding: 1rem;
 }

 form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    height: 5rem;
    width: 70%;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-size: 2rem;
    color: var(--eminence);
}

#saveScoreBtn {
    margin-top: 2rem;
    background: var(--white);
    color: var(--telemagenta);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    width: 13rem;
    border: none;
    outline: none;
}

#show-leaderboard {
    margin-top: 2rem;
    background: var(--white);
    color: var(--telemagenta);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
}


#saveScore, #scoreSaved {
    color: var(--eminence);
    font-size: 2.1rem;
    font-weight: 700;
    margin-top: -5rem;
    padding: 1rem;
}

/* LidearBoard box */

.user-score {
    list-style: none;
    text-align: center;
    color: var(--white);
    font-weight: 700;
    font-size: 1.5rem;
}

#score-title {
    color: var(--white);
    text-align: center;
    padding: 2rem;
    font-weight: 700;
    padding: 2rem;
}

#exitLeader {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 10rem;
    margin: auto;
}


particle {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
}


/* Media queries mobile */
@media screen and (max-width: 460px) {
     
    .start_btn, .info_container, .quizBox, #endBox, #leader-board {
        top: 50%;
    }
    .quizBox {
        width: 330px;
    }

    .quizBox header .timer {
        margin-right: -2rem;
        margin-top: -5rem;
    }

    #question {
        font-size: 1.5rem;
        margin-top: -2rem;
    }

    header .title {
    font-size: 1.5rem;
    margin-top: -5rem;
}

.option_list {
    margin: 0.2rem 0;
}
 .score_box {
     font-size: 1rem;
 }
 .score_text {
     width: 10rem;
 }

 .quizBox header .timeLine {
     top: 6.5rem;
 }
}

/* Media queries for Tablet */
@media screen and (min-width: 768px) {
    .start_btn, .info_container, .quizBox, #endBox, #leader-board {
        top: 52%;
    }
    .quizBox header .timer {
        margin-right: -2rem;
    }
}

@media screen and (min-width: 1280px) {
   #main-title {
       margin-top: -13rem;
   }
   .start_btn, .info_container, .quizBox, #endBox, #leader-board {
        top: 43%;
    }
}


